* {
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	background: url("jpeg/img1.jpg") no-repeat center;
	background-size: cover;
	justify-content: center;
}

div {
	margin-top: 100px;
}

.lst {
	width: 415px;
	height: 50px;
	background-color: transparent;
	list-style: none;
}

img {
	width: 100px;
	height: 50px;
	margin-right: 5px;
	border: 1px solid white;
	box-sizing: border-box;
	float: left
}

li:last-child img {
	margin-right: 0;
}